
  <body>
    <app-nav-menu></app-nav-menu>
    <div class="container">
      <router-outlet></router-outlet>

      <img src="assets\party_1.jpg" alt="WELCOME in Event Calendar !" style="width:100%;">
      <div class="bottom-left"></div>
      <div class="top-left"></div>
      <div class="top-right"></div>
      <div class="bottom-right"></div>
      <h1><div class="centered"> WELCOME in Event Calendar !</div></h1>
      <br>

    </div>


    <div style="text-align:center">

    </div>


    <div class="container">
      
    </div>




  </body>

