


<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <router-outlet></router-outlet>


    <!--Położenie tekstu w różnych miejscach na obrazie, tylko środek wykorzystany-->
    <div class="bottom-left"></div>
    <div class="top-left"></div>
    <div class="top-right"></div>
    <div class="bottom-right"></div>


  </div>
  <img src="assets\party_1.jpg" alt=" " style="width:100%; height:100%; text-align:center">






</body>

<h1>
  <div class="centered"> Welcome in Event Calendar !</div>
</h1>
