/* Container holding the image and the text */
.create {
  position: relative;
  text-align: center;
  background-image: url('..\..\assets\party_3.jpg');
  height: 250px;
}

.list-events {
  background-color: white
}