<h1 id="tableLabel">Events</h1>

<p>This component demonstrates fetching data from the server.</p>

  

<div class="test">
  Test test test
</div>

<p *ngIf="!events"><em>Loading...</em></p>



<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="events">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{ event.eventId }}</td>
      <td>{{ event.name}}</td>
      <td>{{ event.description}}</td>
      <td> <button mat-raised-button (click)="delete(event.eventId)" type="submit" class="btn btn-danger"><mat-icon>delete</mat-icon></button></td>
    </tr>
  </tbody>
</table>

<form [formGroup]="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" formControlName="name">
  </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" formControlName="description">
    </div>
    <button  [disabled]="disabaleBtn" (click)="create()" type="submit" class="btn btn-success">Submit</button>
    <button type="cancel" class="btn btn-danger" [routerLink]="['/']">Cancel</button>
</form>

<div *ngIf="opened">
  <button #anchor class="k-button" (click)="onToggle()" >ok</button>
  <div>
    <kendo-popup class="content" [anchor]="anchor" (anchorViewportLeave)="opened = true" *ngIf="opened">
      <!-- User-defined content -->
      <div class="content">
        {{message}}
      </div>
    </kendo-popup>


    
